@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";

@custom-variant dark (&:is(.dark *));

:root {
  --background: #fffcf5;
  --foreground: #05140d;
  --card: #ffffff;
  --card-foreground: #05140d;
  --popover: #ffffff;
  --popover-foreground: #05140d;
  --primary: #008f47;
  --primary-foreground: #ffffff;
  --secondary: #f50000;
  --secondary-foreground: #ffffff;
  --muted: #f5edd6;
  --muted-foreground: #423b24;
  --accent: #ff990a;
  --accent-foreground: #05140d;
  --destructive: #e60000;
  --destructive-foreground: #ffffff;
  --border: #000000;
  --input: #ffffff;
  --ring: #008f47;
  --chart-1: #008f47;
  --chart-2: #f50000;
  --chart-3: #ff990a;
  --chart-4: #ff33bb;
  --chart-5: #00bfe6;
  --sidebar: #003d1f;
  --sidebar-foreground: #ffffff;
  --sidebar-primary: #ff990a;
  --sidebar-primary-foreground: #003d1f;
  --sidebar-accent: #005c2e;
  --sidebar-accent-foreground: #ffffff;
  --sidebar-border: #000000;
  --sidebar-ring: #ff990a;
  --font-sans: "Montserrat", sans-serif;
  --font-serif: "Lora", serif;
  --font-mono: "Space Mono", monospace;
  --radius: 0px;
  --shadow-x: 4px;
  --shadow-y: 4px;
  --shadow-blur: 0px;
  --shadow-spread: 0px;
  --shadow-opacity: 1;
  --shadow-color: hsl(0, 0%, 0%);
  --shadow-2xs: 4px 4px 0px 0px hsl(0 0% 0% / 0.5);
  --shadow-xs: 4px 4px 0px 0px hsl(0 0% 0% / 0.5);
  --shadow-sm:
    4px 4px 0px 0px hsl(0 0% 0% / 1), 4px 1px 2px -1px hsl(0 0% 0% / 1);
  --shadow: 4px 4px 0px 0px hsl(0 0% 0% / 1), 4px 1px 2px -1px hsl(0 0% 0% / 1);
  --shadow-md:
    4px 4px 0px 0px hsl(0 0% 0% / 1), 4px 2px 4px -1px hsl(0 0% 0% / 1);
  --shadow-lg:
    4px 4px 0px 0px hsl(0 0% 0% / 1), 4px 4px 6px -1px hsl(0 0% 0% / 1);
  --shadow-xl:
    4px 4px 0px 0px hsl(0 0% 0% / 1), 4px 8px 10px -1px hsl(0 0% 0% / 1);
  --shadow-2xl: 4px 4px 0px 0px hsl(0 0% 0% / 2.5);
  --tracking-normal: 0.02em;
  --spacing: 0.25rem;
}

.dark {
  --background: #02120a;
  --foreground: #fff9e5;
  --card: #062314;
  --card-foreground: #fff9e5;
  --popover: #062314;
  --popover-foreground: #fff9e5;
  --primary: #00f57a;
  --primary-foreground: #000a05;
  --secondary: #ff3333;
  --secondary-foreground: #ffffff;
  --muted: #0f2e1f;
  --muted-foreground: #ccc6b3;
  --accent: #ffa629;
  --accent-foreground: #000a05;
  --destructive: #ff0000;
  --destructive-foreground: #ffffff;
  --border: #fff9e5;
  --input: #122b1f;
  --ring: #ffa629;
  --chart-1: #00f57a;
  --chart-2: #ff3333;
  --chart-3: #ffa629;
  --chart-4: #ff66cc;
  --chart-5: #33ddff;
  --sidebar: #000a05;
  --sidebar-foreground: #fff9e5;
  --sidebar-primary: #00f57a;
  --sidebar-primary-foreground: #000a05;
  --sidebar-accent: #0d261a;
  --sidebar-accent-foreground: #fff9e5;
  --sidebar-border: #fff9e5;
  --sidebar-ring: #ffa629;
  --font-sans: "Montserrat", sans-serif;
  --font-serif: "Lora", serif;
  --font-mono: "Space Mono", monospace;
  --radius: 0px;
  --shadow-x: 4px;
  --shadow-y: 4px;
  --shadow-blur: 0px;
  --shadow-spread: 0px;
  --shadow-opacity: 1;
  --shadow-color: hsl(45, 100%, 80%);
  --shadow-2xs: 4px 4px 0px 0px hsl(45 100% 80% / 0.5);
  --shadow-xs: 4px 4px 0px 0px hsl(45 100% 80% / 0.5);
  --shadow-sm:
    4px 4px 0px 0px hsl(45 100% 80% / 1), 4px 1px 2px -1px hsl(45 100% 80% / 1);
  --shadow:
    4px 4px 0px 0px hsl(45 100% 80% / 1), 4px 1px 2px -1px hsl(45 100% 80% / 1);
  --shadow-md:
    4px 4px 0px 0px hsl(45 100% 80% / 1), 4px 2px 4px -1px hsl(45 100% 80% / 1);
  --shadow-lg:
    4px 4px 0px 0px hsl(45 100% 80% / 1), 4px 4px 6px -1px hsl(45 100% 80% / 1);
  --shadow-xl:
    4px 4px 0px 0px hsl(45 100% 80% / 1), 4px 8px 10px -1px hsl(45 100% 80% / 1);
  --shadow-2xl: 4px 4px 0px 0px hsl(45 100% 80% / 2.5);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
  --font-serif: var(--font-serif);
  --font-architects: var(--font-architects);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --shadow-2xs: var(--shadow-2xs);
  --shadow-xs: var(--shadow-xs);
  --shadow-sm: var(--shadow-sm);
  --shadow: var(--shadow);
  --shadow-md: var(--shadow-md);
  --shadow-lg: var(--shadow-lg);
  --shadow-xl: var(--shadow-xl);
  --shadow-2xl: var(--shadow-2xl);

  --tracking-tighter: calc(var(--tracking-normal) - 0.05em);
  --tracking-tight: calc(var(--tracking-normal) - 0.025em);
  --tracking-normal: var(--tracking-normal);
  --tracking-wide: calc(var(--tracking-normal) + 0.025em);
  --tracking-wider: calc(var(--tracking-normal) + 0.05em);
  --tracking-widest: calc(var(--tracking-normal) + 0.1em);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
    letter-spacing: var(--tracking-normal);
  }
}
